/* css for when no favorite products  yet*/

#no-favorites-text-section {
  display: none;
  display: flex;
  justify-content: center;
}

#no-favorites-text-container {
  width: 80%;
  max-width: 1584px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-favorites-text-container > h1 {
  font-weight: 400;
  font-size: 16px;
  color: #c4c4c4;
}

#page-name {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

#favorite-home-and-page-name-outer-container {
  display: flex;
  justify-content: center;
}

#favorite-home-and-page-name-contianer {
  width: 80%;
  max-width: 1584px;
  display: flex;
  gap: 20px;
}

#favorite-home-and-page-name-contianer > p,
a {
  font-size: 14px;
  color: black;
}

#favorite-page-name::before {
  content: "❯";
  margin-right: 18px;
}

#favorite-products-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

#favorite-products-grid-container {
  display: flex;
  justify-content: center;
}

#favorite-products-grid {
  width: 80%;
  max-width: 1584px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

@media (max-width: 1500px) {
  #favorite-products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  #favorite-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1003px) {
  #favorite-products-grid {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  #favorite-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  #favorite-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* css for the top picks product cards */

.product-card {
  box-shadow: 2 2 5 rgb(0, 0, 0);
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.product-img-container {
  width: 100%;
}

.product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product-name-container {
  height: 32px;
}

.product-name {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #a0c334;
}

.rating-sold-container {
  display: flex;
  gap: 10px;
}

.rating-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 7px;
}

.star {
  width: 11px;
}

.rating {
  margin: 0;
  font-size: 11px;
  color: #929292;
}

.sold {
  margin: 0;
  font-size: 11px;
  color: #929292;
}

.quantity-favorites-container {
  display: flex;
  gap: 10px;
}

.style_icon__KAdjP:hover {
  stroke: rgb(78, 78, 78);
}

.product-quality-selector {
  border: 1px solid rgb(78, 78, 78);
  cursor: pointer;
}

.product-quality-selector:hover {
  border: 1px solid#929292;
  cursor: pointer;
}

.product-quality-selector:focus {
  outline: none;
}

.added-to-cart-indicator-container {
  height: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.added-to-cart-indicator {
  font-size: 11px;
  margin: 0;
  color: #929292;
  display: none;
}

.add-to-cart-button {
  width: 100%;
  border: none;
  padding: 8px;
  background-color: #e5d429;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #ffeb13;
}
