#page-name {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

#track-home-and-page-name-outer-container {
  display: flex;
  justify-content: center;
}

#track-home-and-page-name-contianer {
  margin-top: 15px;
  width: 80%;
  max-width: 1584px;
  display: flex;
  gap: 20px;
}

#track-home-and-page-name-contianer > p,
a {
  font-size: 13px;
  color: black;
}

#track-page-name::before {
  content: "â¯";
  margin-right: 18px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#product-container {
  width: 1100px;
  max-width: 1100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  color: #767676;
}

#track-home-button > p {
  color: black;
  font-size: 13px;
}

#track-home-button > p:hover {
  color: rgb(116, 116, 116);
}

#product-name {
  font-size: 17px;
  color: black;
  font-weight: 600;
}

#delivery-date {
  color: #a0c334;
  font-weight: 500;
}

#product-img {
  width: 220px;
  aspect-ratio: 1 / 1;
  margin-bottom: 30px;
}

#loading-bar {
  width: 100%;
  height: 25px;
  background-color: #d9d9d9;
  margin-bottom: 10px;
  overflow: hidden;
}

#loading-progress {
  width: 33px;
  height: 25px;
  background-color: #a0c334;
  transform: translateX(-100%);
  animation: slideIn 1s ease-in forwards;
}

#loading-indicator-container {
  display: flex;
  justify-content: space-between;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

#loading-indicator-container > p {
  font-size: 13px;
}

@media (max-width: 1003px) {
  #track-home-and-page-name-contianer {
    width: 100%;
    margin-left: 10px;
  }
  #product-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
