/* Css for the banner section */
* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ededed;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

#hero-section {
  padding: 0;
}

#banner {
  display: flex;
  justify-content: center;
}

#banner-img-container {
  width: 80%;
  max-width: 1584px;
}

.banner-img {
  width: 100%;
  aspect-ratio: 4 / 1;
}

@media (max-width: 1003px) {
  #banner-img-container {
    width: 100%;
  }
}

#dot-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(212, 212, 212);
}

.active {
  background-color: grey;
}

/* CSs for the top picks section */

#top-picks-title-outer-container {
  display: flex;
  justify-content: center;
}

#top-picks-title-container {
  width: 80%;
  max-width: 1584px;
}

#top-picks-title {
  font-weight: 400;
  margin-top: 0;
}

#top-picks-section {
  margin-bottom: 10px;
  padding: 0;
}

#top-picks-products-outer-contaier {
  width: 100%;
  display: flex;
  justify-content: center;
}

#top-picks-products-container {
  width: 80%;
  max-width: 1584px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

/* @media (max-width: 2000px) {
  #top-picks-products-container {
    grid-template-columns: repeat(6, 1fr);
  }
} */

@media (max-width: 1500px) {
  #top-picks-products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  #top-picks-products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1003px) {
  #top-picks-title-container {
    margin-left: 10px;
    width: 100%;
  }

  #top-picks-products-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  #top-picks-products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  #top-picks-products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* css for the top picks product cards */

.product-card {
  box-shadow: 2 2 5 rgb(0, 0, 0);
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.product-img-container {
  width: 100%;
}

.product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product-name-container {
  height: 32px;
}

.product-name {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #a0c334;
}

.rating-sold-container {
  display: flex;
  gap: 10px;
}

.rating-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 7px;
}

.star {
  width: 11px;
}

.rating {
  margin: 0;
  font-size: 11px;
  color: #929292;
}

.sold {
  margin: 0;
  font-size: 11px;
  color: #929292;
}

.quantity-favorites-container {
  display: flex;
  gap: 10px;
}

.style_icon__KAdjP:hover {
  stroke: rgb(78, 78, 78);
}

.product-quality-selector {
  border: 1px solid rgb(78, 78, 78);
  cursor: pointer;
}

.product-quality-selector:hover {
  border: 1px solid#929292;
  cursor: pointer;
}

.product-quality-selector:focus {
  outline: none;
}

.added-to-cart-indicator-container {
  height: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.added-to-cart-indicator {
  font-size: 11px;
  margin: 0;
  color: #929292;
  display: none;
}

.add-to-cart-button {
  width: 100%;
  border: none;
  padding: 8px;
  background-color: #e5d429;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #ffeb13;
}

/* Css for the customer feedback section */

#customer-feedbacks-section {
  background-color: #5d5d5d;
  margin-top: 30px;
  padding: 0;
  padding-bottom: 70px;
  /* position: relative; */
}

#customer-feedbacks-title-outer-container {
  display: flex;
  justify-content: center;
  z-index: 1;
}

#customer-feedbacks-title-container {
  width: 80%;
  max-width: 1584px;
}

#customer-feedbacks-title {
  color: #f7f7f7;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

#customer-feedbacks-outer-container {
  display: flex;
  justify-content: center;
}

#customer-feedbacks-container {
  width: 80%;
  max-width: 1584px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}

@media (max-width: 1200px) {
  #customer-feedbacks-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #left-card {
    display: none;
  }
}

@media (max-width: 1003px) {
  #customer-feedbacks-title-container {
    width: 100%;
    margin-left: 10px;
  }

  #customer-feedbacks-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  #customer-feedbacks-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #right-card {
    display: none;
  }
}

.customer-feedback-card {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.five-star-img {
  width: 80px;
}

.feedback-text-container {
  height: 100px;
}

.feedback {
  margin: 0;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.customer-name {
  text-align: center;
  margin: 0;
  color: #929292;
}

.feedback-next-button {
  position: absolute;
  border: none;
  background-color: #e5d529a8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* right and left feedback-next-buttons */

.right {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.feedback-next-button .arrow {
  width: 20px;
  opacity: 30%;
}

.feedback-next-button:hover {
  background-color: #e5d429;
}

.feedback-next-button:hover .arrow {
  opacity: 100%;
}

/* css for article section */

#switchcraft-article {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

#article-content-container {
  width: 80%;
  max-width: 1584px;
}

@media (max-width: 1003px) {
  #article-content-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#article-title {
  font-weight: 400;
  margin-top: 0;
}

#article-text {
  font-weight: 300;
}

.article-line-limit {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#read-more-button {
  border: none;
  background-color: #e5d429;
  padding: 10px;
}

#read-more-button:hover {
  background-color: #f4e21f;
}
